interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "94e5a45a-1398-4d65-a653-a68d2ca73e45",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1ae963ae-f809-4898-baa0-0d482ce194d3
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 156caac8-88bb-471b-9083-fd992728057d
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "capacityId":
      "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "a3e88a0a-27bd-4843-a30f-4b99f349231b", "displayName": "fabcli000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b
      RequestId:
      - 337130ee-2517-461c-b071-eadb15b28103
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 072a16e5-51cc-4b99-aaff-3192a04bd06f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/folders
  response:
    body:
      string: '{"id": "e50835e0-0a02-44d2-a532-ea0f468af440", "displayName": "fabcli000003",
        "workspaceId": "a3e88a0a-27bd-4843-a30f-4b99f349231b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/folders/e50835e0-0a02-44d2-a532-ea0f468af440
      RequestId:
      - 913242dc-1669-4234-a20d-7e72a5f03842
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 888cb90f-2230-4545-9498-2e6d01b88dd1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000004", "type":
      "DigitalTwinBuilder", "folderId": "e50835e0-0a02-44d2-a532-ea0f468af440"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/516b0575-cf8e-4406-83f0-e695debdbf2c
      RequestId:
      - a77da350-e0e7-4a67-aa37-dcae0ad7315a
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 516b0575-cf8e-4406-83f0-e695debdbf2c
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/516b0575-cf8e-4406-83f0-e695debdbf2c
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:03:45.2858797",
        "lastUpdatedTimeUtc": "2026-03-31T09:03:53.7801327", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/516b0575-cf8e-4406-83f0-e695debdbf2c/result
      RequestId:
      - 0297becb-68e7-429f-87c7-01adca493d96
      x-ms-operation-id:
      - 516b0575-cf8e-4406-83f0-e695debdbf2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/516b0575-cf8e-4406-83f0-e695debdbf2c/result
  response:
    body:
      string: '{"id": "9842a820-e4c7-4545-87ed-7af37ece34dc", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "a3e88a0a-27bd-4843-a30f-4b99f349231b", "folderId": "e50835e0-0a02-44d2-a532-ea0f468af440"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 968b1232-eac8-4f23-96a9-48cf17b8e7c7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/folders?recursive=True
  response:
    body:
      string: '{"requestId": "a27b60ba-5d83-47fa-86f8-ef457a590589", "errorCode":
        "RequestBlocked", "message": "Request is blocked by the upstream service until:
        3/31/2026 9:05:10 AM (UTC)", "isRetriable": true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a27b60ba-5d83-47fa-86f8-ef457a590589
      Retry-After:
      - '48'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - RequestBlocked
    status:
      code: 429
      message: ''
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/items/9842a820-e4c7-4545-87ed-7af37ece34dc
  response:
    body:
      string: '{"id": "9842a820-e4c7-4545-87ed-7af37ece34dc", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000004", "description": "Created by fab", "workspaceId":
        "a3e88a0a-27bd-4843-a30f-4b99f349231b", "folderId": "e50835e0-0a02-44d2-a532-ea0f468af440"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - f7ac4fe8-1a74-4464-bd67-46333e9173da
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/items/9842a820-e4c7-4545-87ed-7af37ece34dc/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/65e88e81-22b7-463a-98e4-15ca2e1e3c5f
      RequestId:
      - 899a80c6-b10b-45d5-96d3-2a01bb7e11fa
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 65e88e81-22b7-463a-98e4-15ca2e1e3c5f
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/65e88e81-22b7-463a-98e4-15ca2e1e3c5f/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "definition.json", "payload": "ew0KICAiTGFrZWhvdXNlSWQiOiAiNzE4NDY4ZTQtMzFmMi00OWJmLThlNGEtNzE2NzU1MGUwM2NkIg0KfQ==",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkRpZ2l0YWxUd2luQnVpbGRlciIsCiAgICAiZGlzcGxheU5hbWUiOiAiZmFiY2xpMDAwMDA0IiwKICAgICJkZXNjcmlwdGlvbiI6ICJDcmVhdGVkIGJ5IGZhYiIKICB9LAogICJjb25maWciOiB7CiAgICAidmVyc2lvbiI6ICIyLjAiLAogICAgImxvZ2ljYWxJZCI6ICIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiCiAgfQp9",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 79cf1703-093b-4455-b142-78e4dcb2c834
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "DigitalTwinBuilder", "description": "Created by fab", "displayName":
      "fabcli000004", "definition": {"parts": [{"path": "definition.json", "payload":
      "ew0KICAiTGFrZWhvdXNlSWQiOiAiNzE4NDY4ZTQtMzFmMi00OWJmLThlNGEtNzE2NzU1MGUwM2NkIg0KfQ==",
      "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2N[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/31711a15-0d9b-419e-aeb7-8bce150293e0/folders/29edfe5d-2718-4c5d-8703-d85d9c90c67e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - d061c517-aed7-424c-a643-e0cc40ac84d9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b/folders/e50835e0-0a02-44d2-a532-ea0f468af440
  response:
    body:
      string: '{"requestId": "76e7897d-e617-48b4-803d-6e74dd186ca1", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "e50835e0-0a02-44d2-a532-ea0f468af440", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 76e7897d-e617-48b4-803d-6e74dd186ca1
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/a3e88a0a-27bd-4843-a30f-4b99f349231b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 4a22cfc2-bc4d-4bd9-b11d-b4ef6b374796
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/31711a15-0d9b-419e-aeb7-8bce150293e0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 16ba9a56-d5ff-4f10-8bd3-dd2fa7b13560
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
