interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1d58cdc5-6c02-4200-8747-00b889148105",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 97f41eee-89e1-4db1-a82a-8d24211611c2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d58cdc5-6c02-4200-8747-00b889148105/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5f0c3594-db65-4b7b-b771-3dbb6be079b5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "GraphQuerySet", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d58cdc5-6c02-4200-8747-00b889148105/GraphQuerySets
  response:
    body:
      string: '{"id": "3ed5fd02-710a-4df1-8074-47b2826e8559", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "1d58cdc5-6c02-4200-8747-00b889148105"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 032dd894-7ee9-4682-9dcb-4720fdfa5458
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d58cdc5-6c02-4200-8747-00b889148105/items/3ed5fd02-710a-4df1-8074-47b2826e8559
  response:
    body:
      string: '{"id": "3ed5fd02-710a-4df1-8074-47b2826e8559", "type": "GraphQuerySet",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "1d58cdc5-6c02-4200-8747-00b889148105"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b2b5f05e-ae05-4343-bae5-6ab453860fc6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d58cdc5-6c02-4200-8747-00b889148105/items/3ed5fd02-710a-4df1-8074-47b2826e8559/getDefinition
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d7fc9f2-06eb-49e1-a2ef-bcc96498a695
      RequestId:
      - 98619b85-d0a7-45c8-8efb-0fba179fb5ed
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 6d7fc9f2-06eb-49e1-a2ef-bcc96498a695
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d7fc9f2-06eb-49e1-a2ef-bcc96498a695
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-19T09:37:06.773962",
        "lastUpdatedTimeUtc": "2026-03-19T09:37:07.5233221", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d7fc9f2-06eb-49e1-a2ef-bcc96498a695/result
      RequestId:
      - 3419834d-d14b-4d44-93b9-f395d58d5f87
      x-ms-operation-id:
      - 6d7fc9f2-06eb-49e1-a2ef-bcc96498a695
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/6d7fc9f2-06eb-49e1-a2ef-bcc96498a695/result
  response:
    body:
      string: '{"definition": {"parts": [{"path": "exportedDefinition.json", "payload":
        "eyJkZXBlbmRlbmNpZXMiOltdLCJpbmRpcmVjdERlcGVuZGVuY2llcyI6W10sIkFydGlmYWN0Q29udGVudHMiOltdLCJDb25maWd1cmF0aW9uQ2F0ZWdvcmllcyI6W119",
        "payloadType": "InlineBase64"}, {"path": ".platform", "payload": "ewogICIkc2NoZW1hIjogImh0dHBzOi8vZGV2ZWxvcGVyLm1pY3Jvc29mdC5jb20vanNvbi1zY2hlbWFzL2ZhYnJpYy9naXRJbnRlZ3JhdGlvbi9wbGF0Zm9ybVByb3BlcnRpZXMvMi4wLjAvc2NoZW1hLmpzb24iLAogICJtZXRhZGF0YSI6IHsKICAgICJ0eXBlIjogIkdyYXBoUXVlcnlTZXQiLAogICAgImRpc3BsYXlOYW1lIjogImZhYmNsaTAwMDAwMSIsCiAgICAiZGVzY3JpcHRpb24iOiAiQ3JlYXRlZCBieSBmYWIiCiAgfSwKICAiY29uZmlnIjogewogICAgInZlcnNpb24iOiAiMi4wIiwKICAgICJsb2dpY2FsSWQiOiAiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIgogIH0KfQ==",
        "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 2779d0cc-2ece-4c41-bb1d-e00c063961e1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1d58cdc5-6c02-4200-8747-00b889148105/items/3ed5fd02-710a-4df1-8074-47b2826e8559
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 1b1ada5e-9424-46a8-a2a9-70fb74d10f3e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
