interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "1fb1b626-f7b4-4d26-b9a7-96d0d6b85102",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5d58d1e0-ac22-4540-9426-48f1fa35a692
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/folders?recursive=True
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d8fc6ab2-6798-4272-b427-47c13b4a9bd9
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/folders
  response:
    body:
      string: '{"id": "d6c49971-04a7-4c00-9877-842ec36a4b5f", "displayName": "fabcli000001",
        "workspaceId": "1fb1b626-f7b4-4d26-b9a7-96d0d6b85102"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/folders/d6c49971-04a7-4c00-9877-842ec36a4b5f
      RequestId:
      - 55af90e1-e6fa-4ed2-b8c4-cba6021ff659
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/items
  response:
    body:
      string: '{"value": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 1e10e0de-b587-4566-beef-b59ac0434ca8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000002", "type":
      "Notebook", "folderId": "d6c49971-04a7-4c00-9877-842ec36a4b5f", "definition":
      {"parts": [{"path": "notebook-content.py", "payload": "IyBGYWJyaWMgbm90ZWJvb2sgc291cmNlCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAia2VybmVsX2luZm8iOiB7CiMgTUVUQSAgICAgIm5hbWUiOiAic3luYXBzZV9weXNwYXJrIgojIE1FVEEgICB9LAojIE1FVEEgICAiZGVwZW5kZW5jaWVzIjoge30KIyBNRVRBIH0KCiMgQ0VMTCAqKioqKioqKioqKioqKioqKioqKgoKIyBXZWxjb21lIHRvIHlvdXIgbmV3IG5vdGVib29rCiMgVHlwZSBoZXJlIGluIHRoZSBjZWxsIGVkaXRvciB0byBhZGQgY29kZSEKCgojIE1FVEFEQVRBICoqKioqKioqKioqKioqKioqKioqCgojIE1FVEEgewojIE1FVEEgICAibGFuZ3VhZ2UiOiAicHl0aG9uIiwKIyBNRVRBICAgImxhbmd1YWdlX2dyb3VwIjogInN5bmFwc2VfcHlzcGFyayIKIyBNRVRBIH0K",
      "payloadType": "InlineBase64"}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/notebooks
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a950f41-e980-4ddb-8165-dfb2e83f92c0
      RequestId:
      - d6d94421-8f00-4d0d-b6b0-fda74a07447b
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - 8a950f41-e980-4ddb-8165-dfb2e83f92c0
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a950f41-e980-4ddb-8165-dfb2e83f92c0
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-22T15:35:19.302316",
        "lastUpdatedTimeUtc": "2026-03-22T15:35:20.8228522", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a950f41-e980-4ddb-8165-dfb2e83f92c0/result
      RequestId:
      - f26b88a1-abee-417f-ad5a-4b2f639d452d
      x-ms-operation-id:
      - 8a950f41-e980-4ddb-8165-dfb2e83f92c0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/8a950f41-e980-4ddb-8165-dfb2e83f92c0/result
  response:
    body:
      string: '{"id": "992b42b5-3262-4c36-9f67-81a4d1597d9f", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "1fb1b626-f7b4-4d26-b9a7-96d0d6b85102", "folderId": "d6c49971-04a7-4c00-9877-842ec36a4b5f"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - eb50cd2b-b74d-45b4-96a1-7f8bb3845ce7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/items/992b42b5-3262-4c36-9f67-81a4d1597d9f
  response:
    body:
      string: '{"id": "992b42b5-3262-4c36-9f67-81a4d1597d9f", "type": "Notebook",
        "displayName": "fabcli000002", "description": "Created by fab", "workspaceId":
        "1fb1b626-f7b4-4d26-b9a7-96d0d6b85102", "folderId": "d6c49971-04a7-4c00-9877-842ec36a4b5f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - b59fda88-b0c1-4074-b7ea-9a3f7fca5f65
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/items/992b42b5-3262-4c36-9f67-81a4d1597d9f/getDefinition?format=ipynb
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/cda4dde7-604d-43a7-9698-0447a2ea63f7
      RequestId:
      - e40fd768-b437-4a51-97d2-50a308ee8353
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - cda4dde7-604d-43a7-9698-0447a2ea63f7
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/folders/d6c49971-04a7-4c00-9877-842ec36a4b5f
  response:
    body:
      string: '{"requestId": "d2c6e03b-8b83-4193-8e6e-5271927d582e", "errorCode":
        "FolderNotEmpty", "message": "The requested folder was not empty.", "relatedResource":
        {"resourceId": "d6c49971-04a7-4c00-9877-842ec36a4b5f", "resourceType": "Folder"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d2c6e03b-8b83-4193-8e6e-5271927d582e
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-public-api-error-code:
      - FolderNotEmpty
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/1fb1b626-f7b4-4d26-b9a7-96d0d6b85102/items/992b42b5-3262-4c36-9f67-81a4d1597d9f
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 886366b5-d331-4870-94a3-3f19d51ce1a5
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
