interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "c95302b8-95ce-42a9-8cac-26b3fa76f455",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f662c7d9-eab7-404b-a4e8-87db17f0c2b4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/items
  response:
    body:
      string: '{"value": [{"id": "eb1d2378-fbcb-41be-84a9-e7fc350591d1", "type": "Map",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c95302b8-95ce-42a9-8cac-26b3fa76f455"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - edf05c04-9472-479d-a479-f2c52726f105
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Map", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/maps
  response:
    body:
      string: '{"id": "a297e338-5afd-40fc-8690-01b2694febc1", "type": "Map", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "c95302b8-95ce-42a9-8cac-26b3fa76f455"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 7f350198-3eb5-426e-a889-8fbcc010babe
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/items/a297e338-5afd-40fc-8690-01b2694febc1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - abc3dc81-2de4-4eb1-9f10-0b6443fc3501
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/c95302b8-95ce-42a9-8cac-26b3fa76f455/items
  response:
    body:
      string: '{"value": [{"id": "eb1d2378-fbcb-41be-84a9-e7fc350591d1", "type": "Map",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "c95302b8-95ce-42a9-8cac-26b3fa76f455"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5ecaa175-a2de-43ab-a31d-8c4dc42dfeb0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
