interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "6b484b92-1d17-4201-978c-56f2d4d92f08",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - f3772a04-cf93-4a46-985f-7eeacdc84728
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6b484b92-1d17-4201-978c-56f2d4d92f08/items
  response:
    body:
      string: '{"value": [{"id": "1b8e1c12-08ce-4b9f-8415-7b927b8b3f0e", "type": "Map",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6b484b92-1d17-4201-978c-56f2d4d92f08"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - ea440646-d105-4e91-9363-fcb5e28c9ecf
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "Map", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/6b484b92-1d17-4201-978c-56f2d4d92f08/maps
  response:
    body:
      string: '{"id": "5b34fd92-a8e2-421e-b07d-40bda82cdef8", "type": "Map", "displayName":
        "fabcli000001", "description": "Created by fab", "workspaceId": "6b484b92-1d17-4201-978c-56f2d4d92f08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      RequestId:
      - 03f73e96-7f68-45ff-8c1c-c9514caf2657
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/6b484b92-1d17-4201-978c-56f2d4d92f08/items/5b34fd92-a8e2-421e-b07d-40bda82cdef8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 82bc119b-e938-40f2-971d-54874df8a0a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/6b484b92-1d17-4201-978c-56f2d4d92f08/items
  response:
    body:
      string: '{"value": [{"id": "1b8e1c12-08ce-4b9f-8415-7b927b8b3f0e", "type": "Map",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "6b484b92-1d17-4201-978c-56f2d4d92f08"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - d1000eab-2332-41c9-bd40-15bfdcd85104
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
