interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}, {"id": "48be342b-90a5-4d43-bd10-9484b96aab52",
        "displayName": "fabriccli_WorkspacePerTestclass_000001", "description": "Created
        by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - a14afa83-915c-41e8-99c1-78b6750b9e9b
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items
  response:
    body:
      string: '{"value": [{"id": "d4ed3077-fab1-45a6-86a0-75ab00a28a2a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"},
        {"id": "af2d968f-42e9-44bc-b229-8039e5fb169e", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"},
        {"id": "5fea33af-3d34-46db-b268-e838c7748056", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"},
        {"id": "1cff1948-5c7c-4516-a852-e4724b4bff52", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "48be342b-90a5-4d43-bd10-9484b96aab52"}, {"id": "b0cb96e4-6aec-4d17-9b51-1b737898c808",
        "type": "Lakehouse", "displayName": "fabcli000001dtdm", "description": "",
        "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"}, {"id": "730be7c7-59e9-4c76-9c18-9ea34c94149d",
        "type": "DigitalTwinBuilderFlow", "displayName": "fabcli000001OnDemand", "description":
        "", "workspaceId": "48be342b-90a5-4d43-bd10-9484b96aab52"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - eb095cfe-109d-4fcd-b66d-655d90fca900
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Created by fab", "displayName": "fabcli000001", "type":
      "DigitalTwinBuilder", "folderId": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/digitalTwinBuilders
  response:
    body:
      string: 'null'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '""'
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1a839da-0ec8-4595-9492-1bfd9dd0bb0d
      RequestId:
      - 03fad66d-64ad-4740-9ff5-779ab2df5f76
      Retry-After:
      - '20'
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
      x-ms-operation-id:
      - d1a839da-0ec8-4595-9492-1bfd9dd0bb0d
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1a839da-0ec8-4595-9492-1bfd9dd0bb0d
  response:
    body:
      string: '{"status": "Succeeded", "createdTimeUtc": "2026-03-31T09:28:52.5933013",
        "lastUpdatedTimeUtc": "2026-03-31T09:28:58.9863347", "percentComplete": 100,
        "error": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1a839da-0ec8-4595-9492-1bfd9dd0bb0d/result
      RequestId:
      - c3207774-5d6e-4a42-abce-16848a873207
      x-ms-operation-id:
      - d1a839da-0ec8-4595-9492-1bfd9dd0bb0d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://wabi-us-central-b-primary-redirect.analysis.windows.net/v1/operations/d1a839da-0ec8-4595-9492-1bfd9dd0bb0d/result
  response:
    body:
      string: '{"id": "152a6d3d-e88a-4b4d-a210-9bcc31435dea", "type": "DigitalTwinBuilder",
        "displayName": "fabcli000001", "description": "Created by fab", "workspaceId":
        "48be342b-90a5-4d43-bd10-9484b96aab52"}'
    headers:
      Content-Type:
      - application/json
      RequestId:
      - 3217fa73-0ff7-4346-a992-1a0af418ae5d
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/48be342b-90a5-4d43-bd10-9484b96aab52/items/152a6d3d-e88a-4b4d-a210-9bcc31435dea
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - bff137a0-8507-4733-ab4d-d17c757154dc
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
