interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 0fdd9005-0aef-45d8-a46b-4ca7ef19fb2f
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 7761d9a4-89a6-410a-bda8-8b98d241f3a2
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "948bd34e-8e3c-44cc-9879-8d3e3fa54394", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394
      RequestId:
      - 4f356575-432f-453d-ae5c-7518686556a4
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394/items
  response:
    body:
      string: '{"value": [{"id": "f737f665-ef30-44a8-b8e8-b6992434ec8a", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "f16f4cd1-8976-4bae-a902-dae7b27fa776", "type": "SQLEndpoint", "displayName":
        "fabcli000002dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "6451357f-5a1d-49d8-9bcb-76bd62a949bc", "type": "SQLEndpoint", "displayName":
        "fabcli000003dtdm", "description": "", "workspaceId": "948bd34e-8e3c-44cc-9879-8d3e3fa54394"},
        {"id": "862bdc78-cffc-4b0e-9b93-155d898eafea", "type": "SQ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/948bd34e-8e3c-44cc-9879-8d3e3fa54394
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 381d829c-38c4-4e4b-ada4-9ee156187cc7
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
