interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"value": [{"id": "3634a139-2c9e-4205-910b-3b089a31be47", "displayName":
        "My workspace", "description": "", "type": "Personal"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 9fec4725-c98e-406a-8d8c-e32b2ed630e8
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/capacities
  response:
    body:
      string: '{"value": [{"id": "00000000-0000-0000-0000-000000000004", "displayName":
        "mocked_fabriccli_capacity_name", "sku": "F16", "region": "Central US", "state":
        "Active"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 5aef16dd-89bd-44d0-ba1e-a0aed3b53fba
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "Created by fab", "displayName": "fabriccli_WorkspacePerTestclass_000001",
      "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.fabric.microsoft.com/v1/workspaces
  response:
    body:
      string: '{"id": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735", "displayName": "fabriccli_WorkspacePerTestclass_000001",
        "description": "Created by fab", "type": "Workspace", "capacityId": "00000000-0000-0000-0000-000000000004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735
      RequestId:
      - 175739bd-7e8e-43eb-8a8b-42741a1d2cc6
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735/items
  response:
    body:
      string: '{"value": [{"id": "d6980240-9285-4e2b-9b0d-3a848d231301", "type": "SQLEndpoint",
        "displayName": "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"},
        {"id": "ac9bd5ee-7588-4766-a094-ac73db118e5c", "type": "SQLEndpoint", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"},
        {"id": "44282885-2475-41fa-8858-864258dede0a", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"},
        {"id": "22648db5-bfdf-4835-bd5a-7631bcf88f99", "type": "Lakehouse", "displayName":
        "fabcli000001dtdm", "description": "", "workspaceId": "3a5b896a-c24a-4a6b-ab4e-443e95f1f735"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RequestId:
      - 75f9826a-5f02-40eb-8fc0-d0185844c5d0
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.fabric.microsoft.com/v1/workspaces/3a5b896a-c24a-4a6b-ab4e-443e95f1f735
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      RequestId:
      - 47694707-3130-4de9-9748-447efe67fdae
      home-cluster-uri:
      - https://wabi-us-central-b-primary-redirect.analysis.windows.net/
      request-redirected:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
